form(action='/new', method='POST')
    label(for='user')
    input(placeholder='Username' id='user' name='user')
    label(for='text')
    textarea(placeholder='Type a message!' id='text' name='text' rows="4" cols="50")
    button
        |Submit