form(action='/new', method='POST')
    label(for='user')
    input(placeholder='Username' id='user' name='user')
    label(for='text')
    input(placeholder='Type a message!' id='text' name='text')
    button
        |Submit