extends layout

block content
  h1= title
  p Welcome to #{title}
  ul 
    each val in messages
      li(style={background: val.color})
        div
          =val.user
        div(class='date')
          =val.date_formatted
        div     
          =val.text
  form(action='/', method='POST')
    label(for='user')
    input(placeholder='Username' id='user' name='user' minlength="1" maxlength="25")
    label(for='color')
    input(id='color' name='color' type='color')
    label(for='text')
    textarea(placeholder='Type a message!' id='text' name='text' rows="4" cols="50" minlength="1" maxlength="255")
    button
        |Submit
  script(src='/javascripts/pin.js', defer)
