extends layout

block content
  h1= title
  p Welcome to #{title}
  ul 
    each val in messages
      li
        div
          =val.user
        div(class='date')
          =val.date_formatted
        div     
          =val.text
  form(action='/', method='POST')
    label(for='user')
    input(placeholder='Username' id='user' name='user')
    label(for='text')
    textarea(placeholder='Type a message!' id='text' name='text' rows="4" cols="50")
    button
        |Submit
  script(src='/javascripts/pin.js', defer)
